.table_wrapper {
  position: static;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  text-align: center;

  .table_header {
    border: 1px solid rgba(49, 49, 49, 0.24);
    border-right: none;
    border-spacing: 0;
    color: rgb(70, 70, 70);
    font-size: 14px;
    font-weight: 400;
    tr {
      height: 40px;
      background-color: rgba(153, 153, 153, 0.329);
    }
    th {
      width: 80px;
      border-right: 1px solid rgba(49, 49, 49, 0.24);
    }

    .day {
      border-right: 1px solid rgba(49, 49, 49, 0.24);
      width: 95px;
      margin: 0;
    }
  }

  .table_body {
    width: fit-content;
    border-spacing: 0;

    .times {
      .time {
        color: rgb(70, 70, 70);
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 80px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(49, 49, 49, 0.24);
        border-top: none;
      }
    }

    .cols {
      .grids {
        .grid {
          width: 95px;
          height: 35px;
          border: 1px solid rgba(49, 49, 49, 0.24);
          border-left: none;
          border-top: none;
        }
      }
    }
  }
}
