$point_color: rgb(93, 185, 170);

$gray: rgba(49, 49, 49, 0.24);

$gray_border: 1px solid $gray;

@mixin flex_col {
  display: flex;
  flex-direction: column;
}

@mixin flex_row {
  display: flex;
  flex-direction: row;
}

@mixin align_center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
